body {
  display: flex;
  justify-content: center;

}

#image {
  height: 959px;
  width: 540px;

}

#image img {
  width: 100%;
  height: 100%;
}


p {
  font-family: 'Cabin Sketch', cursive;
}

/* styling li */

ul {
  list-style-type: none;
}

/* setting up form-inputs */
.form-inputs {
  /* display: flex; */
  display: flex;
  flex-direction: column;
  width: 399px;
}

.one {
  display: flex;
  justify-content: space-around;
}

.two {
  display: flex;
  justify-content: space-around;
}

.three {
  display: flex;
  justify-content: space-around;
}

label {
  font-weight: 550;
  font-size: small;
}

input {
  gap: 10px 20px;
}
